/* 컨테이너 스타일 */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* 제목 스타일 */
.title {
  margin-top: 10px;
}

/* 폼 스타일 */
.formBox {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 입력창/버튼 스타일 */
.input,
.button {
  padding: 10px;
  width: 250px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* 버튼 호버링 스타일 */
.button:hover {
  cursor: pointer;
  background-color: #e6e6e6;
}
